<h1>Registration</h1>
<form class="registration_form" [formGroup]="registrationForm">
    <div>
        <label>Тип учетной записи</label>
        <select id="typeOfUser" name="typeOfUser" [formControlName]="'userType'">
            <option *ngFor="let typeOfUser of typeOfUsers" [value]="typeOfUser">{{typeOfUser}}</option>
        </select>
    </div>
    <div>
        <label>Фаимилия</label>
        <input id="surname" type="text" [formControlName]="'userSurname'">
    </div>
    <div>
        <label>Имя</label>
        <input id="name" type="text" [formControlName]="'userName'">
    </div>
    <div>
        <label>Отчество</label>
        <input id="secondname" type="text" [formControlName]="'userSecondname'">
    </div>
    <div>
        <label>Номер телефона</label>
        <input id="phonenumber" type="tel" [formControlName]="'userPhoneNumber'" [value]="registrationForm.controls['userPhoneNumber'].value | phoneNumber" maxlength="17">
    </div>
    <div>
        <label>Пароль</label>
        <input id="password" type="password" [formControlName]="'userPassword'" placeholder="6+символов">
    </div>
    <div>
        <label>Название организации</label>
        <input id="organizationName" type="text" [formControlName]="'userOrganisationName'">
    </div>
    <div>
        <button type="submit" [disabled] = "registrationForm.invalid" (click)="onSubmit()">Создать аккаунт</button>
    </div>
</form>
