<div *ngIf="serverError !== ''">
    {{serverError}}
</div>
<h1>Authorization</h1>
<form class="registration_form" [formGroup]="authorizationForm">
    <div>
        <label>Номер телефона</label>
        <input id="phonenumber" type="tel" [formControlName]="'userPhoneNumber'" [value]="authorizationForm.controls['userPhoneNumber'].value | phoneNumber" maxlength="18">
    </div>
    <div>
        <label>Пароль</label>
        <input id="password" type="password" [formControlName]="'userPassword'" placeholder="6+символов">
    </div>
    <div>
        <button type="submit" (click)="onSubmit()" [disabled]="authorizationForm.invalid">Создать аккаунт</button>
    </div>
</form>
